<div class="container">
  <div class="child">
    <div class="printButton">
      <div>
        <button (click)="printMe1()">Print me!(basic)</button>
      </div>
      <div>
        <button (click)="printMe2()">Print me!(popup)</button>
      </div>
      <div>
        <button (click)="printMe3()">Print me!(css)</button>
      </div>
    </div>
    <div id="print1">
      <h1>기본 인쇄 영역</h1>
    </div>
    <div class="print2-content-outer" id="print2">
      <div class="print2-content-inner">
        <h1>새 창 인쇄 영역</h1>
      </div>
      <div class="print2-content-inner" style="page-break-before:always"> <!-- 페이지 분할 -->
        <h1>다음 장~~</h1>
      </div>
    </div>
    <div id="print-content-outer">
      <div id="print-content-inner">
        <h1>css 인쇄 영역</h1>
      </div>
    </div>
  </div>
</div>